html,
body {
    height: 100%;
}

h1,
h3 {
    margin: 0;
}

ul {
    list-style-type: none;
}

.header {
    color: white;
    height: 36px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #74489D;
}


/*.leftNavigation:first-child {
            font-style: italic;
        }*/

.leftNavigation a {
    display: block;
    color: gray;
    margin: 10px;
    padding: 10px;
    border-left: 6px solid red;
    background-color: lightgrey;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper>.child {
    background-color: #EEEEEE;
    display: inline-block;
}

.wrapper aside {
    width: 30%;
    height: 100%;
    vertical-align: top;
}

.wrapper>section {
    width: 62%;
}

section.child {
    padding: 10px;
    padding-left: 50px;
}

section.child article {
    font-size: 22px;
    color: gray;
}

.tNews {
    margin-top: 20px;
    background-color: #FFF;
}

.tNews>.content {
    padding: 15px;
}

.tNews>.content>ul,
.tNews>.content>div {
    display: inline-block;
    vertical-align: top;
}

.tNews>.content>ul {
    width: 35%;
}

.tNews>.content>ul>li:last-child {
    color: gray;
}

.tNews>.content>ul>li:first-child {
    font-weight: bolder;
}

.tNews>.content>ul>li:nth-child(3) {
    color: red;
}

.tNews>.content>div {
    padding: 10px;
    border: 5px solid #DDD;
    width: 52%;
    height: 250px;
}

.sg_logo {
    background-image: url('img/logo.png');
    width: 500px;
    height: 300px;
    background-color: #DFDFDF;
    background-size: 198px 272px;
    background-position-x: 100px;
    background-repeat: no-repeat;
    border: 1px solid coral;
}

.sg_logo.new_logo {
    background-image: url('img/acEzio.jpg');
    background-color: bisque;
}

table {
    width: 100%;
}

table>thead th {
    height: 30px;
    background-color: #DFDFDF;
    padding: 0;
}

tbody>tr td {
    height: 30px;
    background-color: azure;
}